*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans";
    box-sizing: border-box;
}
.header {
    overflow: hidden;
    background-color: #ffcc00;
    background-image: linear-gradient(to left, black 40%, rgba(0,0,0,0) 40%); 
    padding: 5px;
    height: auto;
}

.emergency-contact{
    margin-left: 10px;
}
.header a{
    float: left;
    text-align: center;
    color:black;
    font-size: 16px;
    font-weight: bold;
}

.header-right{
    float: right;
    color: aliceblue;
}
.fa{
    float: left;
}

.emergency-contact:hover{
    color: blue;
}
.head-banner{
    margin-left: 100px;
}
.banner-logo {
    margin-top: 8px;
}

.nav-bar{
    background:#ffcc00;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.nav-bar ul{

    list-style: none;
    display: flex;
}

.nav-bar ul li{
    padding: 10px 30px;
    position: relative;
}

.nav-bar ul li ul{
    margin: 0;
    padding: 0;
}

.nav-bar ul li a{
    color: black;
    font-size: 16px;
    transition: all 0.2s;
}
.nav-bar ul li a:hover{
    color:#f3e8be;
}
.nav-bar ul li:hover{
    background: #ffcc00;
}

.dropdown a{
        overflow-x: scroll;
        white-space: nowrap;
        width: 5px;
}
.nav-bar ul li:hover .dropdown{
    display: block;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.dropdown ul{
    display: block;
    margin: 10px;
    padding: 0 10px;
}

.dropdown{
    display: none;
}

.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown ul li:hover .sub-dropdown,.dropdown ul li:hover .sub-dropdown-1,.dropdown ul li:hover .sub-dropdown-3,.dropdown ul li:hover .sub-dropdown-4{
    display: block;
    position: absolute;
    margin-top: 0;
    top: 0px;
    left: 200px;
    z-index: 999;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dropdown .sub-dropdown,.dropdown .sub-dropdown-1,.dropdown .sub-dropdown-3,.dropdown .sub-dropdown-4{
    display: none;
}

.container {
    display: flex;  /* Make container a flex container */
    width: fit-content;
    overflow: show;
}

.announcement {
    background-color: yellow;
    color: black;
    padding: 10px;
    margin-right: 10px;  /* Add margin for spacing */
    /* Order set to 1 to display announcement first */
    order: 1;
}

.news-wrapper {
  display: flex;
  /* Order set to 2 to display news-wrapper behind announcement */
  order: 2;
}

.trick-element {
  width: 100%;  /* Width equal to container */
}

.news-bulletin {
    display: flex;
    flex-direction: row;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
    /*background-color: lightblue;  Added background color */
}

@keyframes scroll {
    0% { transform: translateX(calc(100% + 100vw)); }  /* Starts far right */
    100% { transform: translateX(-100%);}
}



@media screen and (max-width: 500px) {
    .header{
        background-image: linear-gradient(to left, black 50%, rgba(0,0,0,0) 50%);
    }
    .header-left{
        display: inline;
    }
    .header-right{
        position: absolute;
        left: 65%;
    }
    .head-banner{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
    }
    .banner-logo img {
        width: 100%;
    }    
  }
