*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans";
    box-sizing: border-box;
    
}

body{
    height: 100%;
    width: 100%;
}
.header {
    overflow: hidden;
    background-color: #ffcc00;
    background-image: linear-gradient(to left, black 40%, rgba(0,0,0,0) 40%); 
    padding: 5px;
    height: auto;
}

.emergency-contact{
    margin-left: 10px;
}
.header a{
    float: left;
    text-align: center;
    color:black;
    font-size: 14px;
    font-weight: bold;
}

.header-right{
    float: right;
    color: aliceblue;
}
.fa{
    float: left;
}

.emergency-contact:hover{
    color: blue;
}
.head-banner{
    margin-left: 100px;
}
.banner-logo {
    margin-top: 8px;
}

.nav-bar{
    background:#ffcc00;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    
}

.nav-bar ul li{ /* operational */
    padding: 10px 20px;
    position: relative;
}

.nav-bar ul li ul{
    margin: 0;
    padding: 0;
}

.nav-bar ul li a{ /* op */
    color: black;
    font-size: 16px;
    transition: all 0.2s;
}
.nav-bar ul li a:hover{ /* op */
    color:#33110e;
}
.nav-bar ul li:hover{  /* op */
    background: #ffcc00;
}

.dropdown a{
        overflow-x: scroll;
        white-space: nowrap;
        width: 5px;
}
.nav-bar ul li:hover .dropdown{ /* op */
    display: block;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 105%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 250px;
}
.dropdown ul{ /* op */
    display: block;
    margin: 10px;
    padding: 0 10px;
}

.dropdown{
    display: none;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.fas{
    float:right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown ul li:hover .sub-dropdown,.dropdown ul li:hover .sub-dropdown-1,.dropdown ul li:hover .sub-dropdown-3,.dropdown ul li:hover .sub-dropdown-4{
    display: block;
    position: absolute;
    margin-top: 0;
    top: 0px;
    left: 252px;
    z-index: 999;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 370px;
}

.dropdown .sub-dropdown,.dropdown .sub-dropdown-1,.dropdown .sub-dropdown-3,.dropdown .sub-dropdown-4{
    display: none;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}
/*********************This Section is for menu ************************************/
.side-dropdown a{
    overflow-x: scroll;
    white-space: nowrap;
    width: 5px;
}

.side-dropdown{
    display: none;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.side-nav ul li:hover .side-dropdown{ /* op */
    display: none;
    left: 10px;
}

.side-dropdown ul li:hover .sub-dropdown,.side-dropdown ul li:hover .sub-dropdown-1,.side-dropdown ul li:hover .sub-dropdown-3,.side-dropdown ul li:hover .sub-dropdown-4{
    display: none;
    left: 20px;
}

.side-dropdown .sub-dropdown,.side-dropdown .sub-dropdown-1,.side-dropdown .sub-dropdown-3,.side-dropdown .sub-dropdown-4{
    display: none;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}
.side-nav ul li{ /* operational */
    padding: 10px 20px;
    position: relative;
}

.side-nav ul li ul{
    margin: 0;
    padding: 0;
}
.menu-button{
    display: none;
}

.side-nav ul li a{ /* op */
    color: white;
    font-size: 16px;
    line-height: 45px;
    transition: all 0.2s;
}
.side-nav ul li a:hover{ /* op */
    color: red;
}


.side-nav li:hover{  /* op */
    background-color: #33110e;
}


.side-dropdown ul{ /* op */
    display: block;
    margin: 10px;
    padding: 0 10px;
}

.side-bar{
    position: absolute;
    right: 1px;
    top:115px;
    width: 600px;
    height:fit-content;
    background-color: #33110e;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
}
.side-bar li{
    width: 100%;
    list-style: none;
}
.side-bar a{
    width: 100%;
}
.Announcement-bar{
    position: relative;
}

.marquee {
    font-size: 1.3vw;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 2vw;
    overflow: hidden;
    background-color: #e9e2e2;
    position: relative;
    border-style: inset;
}
/* nested div inside the container */
.marquee .marquee-movement {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marquee 12s linear infinite;
}
/* span with text */
.marquee span {
    float: left;
    width: 50%;
    color: black;
}

.Announcement-text{
    font-size: 1.3vw;
    width: 10%;
    height: 2vw;
    position: absolute;
    left: 0;
    top: 0;
    background: #33110e;
    z-index: 200;
}


/* keyframe */
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}


@media screen and (max-width: 774px) {
    .header{
        background-image: linear-gradient(to left, black 50%, rgba(0,0,0,0) 50%);
    }
    .header-left{
        display: inline;
    }
    .header-right{
        position: absolute;
        left: 65%;
    }
    .head-banner{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
    }
    .banner-logo img {
        width: 100%;
    }
}
@media (max-width:1023px){
    .hideonMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .nav-bar{
        position: relative;
    }
    .side-bar{
        width: 100%;
        position: absolute;
    }
    
}
@media (max-width:612px){
    .side-nav{
        position: relative;
    }
    .side-bar{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .menu-home{
        display: none;
    }
}
